/*Imports*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("bootstrap.min.css");
@media (min-width: 1920px) {
  .page-wrapper {
    max-width: 1920px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

* {
  font-family: 'Open Sans', sans-serif;
  color: #707070;
}

header {
  background: #2E2E38;
  padding: 5px 0;
  -webkit-box-shadow: 3px -14px 28px 10px rgba(115, 115, 115, 0.55);
  -moz-box-shadow: 3px -14px 28px 10px rgba(115, 115, 115, 0.55);
  box-shadow: 3px -14px 28px 10px rgba(115, 115, 115, 0.55);
}

header img {
  margin: 15px 15px;
  max-width: 105px;
}

@media (min-width: 768px) {
  header img {
    max-width: 155px;
  }
}

header .hambuerger {
  position: absolute;
  right: 35px;
  top: 20px;
  display: inline-block;
  cursor: pointer;
}

header .hambuerger .bar1, header .hambuerger .bar2, header .hambuerger .bar3 {
  width: 32px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

header .hambuerger.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-image: linear-gradient(to right, #FEC42F, #f89b25);
}

header .hambuerger.change .bar2 {
  opacity: 0;
}

header .hambuerger.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -4px);
  transform: rotate(45deg) translate(-6px, -4px);
  background-image: linear-gradient(to right, #FEC42F, #f89b25);
}

header .contact {
  margin-top: 30px;
  float: right;
}

header .contact a {
  text-align: right;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

header .contact a:hover {
  text-decoration: none;
  color: #f89b25;
}

@media (min-width: 768px) {
  header {
    padding: 15px 0;
  }
}

nav.menu {
  -webkit-box-shadow: inset 0px -180px 37px -182px rgba(115, 115, 115, 0.26);
  -moz-box-shadow: inset 0px -180px 37px -182px rgba(115, 115, 115, 0.26);
  box-shadow: inset 0px -180px 37px -182px rgba(115, 115, 115, 0.26);
  padding: 20px 0;
  display: none;
  z-index: 999;
}

nav.menu.active {
  display: block !important;
}

nav.menu ul {
  padding: 0;
  margin: 0;
}

nav.menu ul li {
  display: block;
  padding: 9px 15px;
}

@media (min-width: 768px) {
  nav.menu ul li {
    display: inline-block;
    padding: 10px;
  }
}

nav.menu ul li a {
  z-index: 999;
  padding: 15px 0;
  color: #4b4b4b;
  font-weight: 600;
}

nav.menu ul li a:hover {
  text-decoration: none;
  color: #f89b25;
}

nav.menu ul li a.active-a {
  color: #f89b25;
}

nav.menu ul li:first-child {
  padding-top: 18px;
}

@media (min-width: 768px) {
  nav.menu ul li:first-child {
    padding-top: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 768px) {
  nav.menu {
    box-shadow: none;
    display: block;
  }
}

.banner {
  position: relative;
  border-bottom: 1px solid #4b4b4b;
  padding-bottom: 20px;
}

.banner .text h2 {
  font-size: 21px;
  font-weight: 600;
}

.banner .text a {
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #4b4b4b;
  color: #4b4b4b;
  padding: 10px 15px;
}

.banner .line {
  border: 1px solid #4b4b4b;
}

@media (min-width: 768px) {
  .banner {
    border-bottom: none;
  }
  .banner .text-display {
    width: 100%;
    height: auto;
    position: absolute;
    top: 35%;
    transform: translatey(-50%);
  }
  .banner .text-display .text {
    position: relative;
    color: #fff;
  }
  .banner .text-display .text h2 {
    font-size: 42px;
  }
  .banner .text-display a {
    margin-top: 30px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    padding: 13px 25px;
  }
  .banner .text-display a:hover {
    color: #4b4b4b;
    background: #fff;
    border-color: #fff;
    text-decoration: none;
  }
}

.publicacoes {
  padding: 40px 0px 0px;
  margin-bottom: 20px;
}

.publicacoes .container {
  border-bottom: 2px solid #d8d8d8;
}

.publicacoes h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 32px;
}

.publicacoes .publicacoes-box {
  padding: 20px 10px;
}

.publicacoes .publicacoes-box .publicacoes-infos {
  padding: 0px 10px 35px 10px;
}

.publicacoes .publicacoes-box .publicacoes-infos a {
  color: inherit;
  text-decoration: none;
}

.publicacoes .publicacoes-box .publicacoes-infos a h3 {
  font-size: 26px;
  padding: 16px 0px 8px 0px;
}

.publicacoes .publicacoes-box .publicacoes-infos a p {
  font-size: 16px;
}

.publicacoes .publicacoes-box .publicacoes-infos a:hover {
  color: #f89b25;
}

.servicos h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 32px;
}

.servicos h3 {
  font-size: 27px;
  line-height: 37px;
}

.servicos .box-servicos {
  padding: 25px 0px 0px 0px;
}

.servicos .box-servicos .icon {
  padding: 25px 0;
}

.servicos .box-servicos .icon img {
  max-width: 160px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.servicos .box-servicos .text {
  text-align: center;
  font-size: 18px;
}

.servicos .box-servicos .text img {
  margin-left: 10px;
}

.servicos .box-servicos .text:hover > a {
  opacity: 1;
  transition: 0.5s;
  display: inline-block;
}

.servicos .box-servicos .text a {
  color: #f89b25;
  font-size: 16px;
  margin-left: 15px;
  opacity: 0;
  display: none;
  text-decoration: none;
}

@media (min-width: 768px) {
  .servicos h3 {
    font-size: 37px;
    line-height: 47px;
  }
  .servicos .box-servicos {
    padding: 35px 0;
  }
  .servicos .box-servicos .icon img {
    max-width: auto;
  }
  .servicos .box-servicos .text a {
    display: none;
  }
}

.porque {
  margin-top: 80px;
}

.porque .full {
  display: flex;
}

.porque .full .box {
  width: 50%;
	position: relative;
    overflow: hidden;
}

.porque .full .box.box1 {
  padding: 130px 70px;
  background: #2E2E38;
}

.porque .full .box.box1 h2 {
  color: #f89b25;
  font-size: 37px;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: 30px;
}

.porque .full .box.box1 p {
  color: #fff;
  font-size: 22px;
  margin-bottom: 40px;
}

.porque .full .box.box1 a {
  display: inline-block;
  border: 1px solid #f89b25;
  padding: 15px 25px;
  color: #f89b25;
}

@media (min-width: 1200px) {
  .porque .full .box.box1 {
    padding: 130px;
  }
  .porque .full .box.box1 h2 {
    font-size: 42px;
    line-height: 57px;
  }
}

.porque h2 {
  color: #f89b25;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 20px;
}

.porque p {
  color: #4b4b4b;
  font-size: 18px;
  margin-bottom: 30px;
}

.porque a {
  display: inline-block;
  border: 2px solid #f89b25;
  padding: 15px 25px;
  color: #f89b25;
}

.profissionais {
  padding: 80px 0;
}

.profissionais img {
  max-width: 250px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .profissionais img {
    max-width: 100%;
  }
}

.profissionais .text {
  margin-top: 30px;
}

.profissionais .text h2 {
  color: #4b4b4b;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.profissionais .text p {
  color: #4b4b4b;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.profissionais .text a {
  display: inline-block;
  border: 2px solid #4b4b4b;
  padding: 15px 25px;
  color: #4b4b4b;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .profissionais .text h2 {
    font-size: 42px;
    line-height: 45px;
    text-align: left;
  }
  .profissionais .text p {
    font-size: 22px;
    text-align: left;
  }
  .profissionais .text a {
    left: 0;
    transform: translateX(0%);
  }
}

@media (min-width: 768px) {
  .profissionais {
    padding: 160px 0;
  }
  .profissionais .text {
    margin-top: 130px;
  }
}

footer {
  padding: 40px 0px 30px 0px;
  background: #2E2E38;
}

footer img {
  max-width: 130px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 45px;
}

footer ul {
  padding-left: 20px;
  margin: 0;
  border-left: 1px solid #fff;
  padding-left: 20px;
}

footer ul li {
  list-style: none;
  margin-bottom: 15px;
}

footer ul li a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
}

footer ul li a:hover {
  color: #f89b25;
}

@media (min-width: 768px) {
  footer {
    padding: 90px 0px 60px 0px;
  }
  footer img {
    max-width: 170px;
    left: 0%;
    transform: translateX(0%);
  }
}

.page .banner2 {
  position: relative;
}

.page .banner2 .text-display .text {
  float: none;
}

.page .banner2 .text-display .text h2 {
  font-size: 21px;
  font-weight: 600;
}

.page .banner2 .text-display .text a {
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #4b4b4b;
  color: #4b4b4b;
  padding: 10px 15px;
}

.page .banner2 .text-display .text ul {
  padding-left: 18px;
}

.page .banner2 .text-display .text ul li {
  font-size: 18px;
  margin-top: 5px;
}

.page .banner2 .text-display .line {
  border: 1px solid #4b4b4b;
}

@media (min-width: 1200px) {
  .page .banner2 {
    border-bottom: none;
  }
  .page .banner2 .text-display {
    width: 100%;
    height: auto;
    position: absolute;
    top: 35%;
    transform: translatey(-50%);
  }
  .page .banner2 .text-display .text {
    float: right;
    position: relative;
    color: #4b4b4b;
    margin-top: 80px;
  }
  .page .banner2 .text-display .text h2 {
    font-size: 26px;
    line-height: 32px;
  }
  .page .banner2 .text-display .text p {
    margin-top: 40px;
    font-size: 17px;
    line-height: 27px;
  }
}

@media (min-width: 1520px) {
  .page .banner2 {
    border-bottom: none;
  }
  .page .banner2 .text h2 {
    font-size: 32px;
    line-height: 42px;
  }
  .page .banner2 .text p {
    margin-top: 40px;
    font-size: 20px;
    line-height: 30px;
  }
  .page .banner2 .text-display {
    width: 100%;
    height: auto;
    position: absolute;
    top: 35%;
    transform: translatey(-50%);
  }
  .page .banner2 .text-display .text {
    float: right;
    position: relative;
    color: #4b4b4b;
    margin-top: 80px;
  }
  .page .banner2 .text-display .text h2 {
    font-size: 32px;
    line-height: 42px;
  }
  .page .banner2 .text-display .text p {
    margin-top: 40px;
    font-size: 20px;
    line-height: 30px;
  }
}

.oque-fazemos .row {
  margin-top: 40px;
  background: rgba(216, 216, 216, 0.2);
}

.oque-fazemos .row .texto-image {
  padding: 5px 25px 25px 25px;
}

.oque-fazemos .row .texto-image h3 {
  color: #f89b25;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 25px;
}

.oque-fazemos .row .texto-image p {
  font-size: 16px;
}

@media (min-width: 1200px) {
  .oque-fazemos {
    padding: 60px 0;
  }
  .oque-fazemos img.m-l {
    margin-left: 15px;
  }
  .oque-fazemos img.m-r {
    margin-left: -15px;
  }
  .oque-fazemos .texto-image {
    padding: 0px 25px;
    position: relative;
    top: 10px;
  }
}

.contato {
  padding: 60px 0;
}

.contato .campo-input {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #d8d8d8;
}

.contato .campo-input span {
  display: inline-block;
  border: 1px solid #f89b25;
  font-size: 12px;
  color: #f89b25;
  padding: 11px 20px;
  width: 100%;
  text-align: center;
}

.contato .campo-input input {
  outline: 0;
  padding-left: 15px;
  height: 35px;
  width: 100%;
  border: none;
}

.contato input[type='submit'] {
  float: right;
  color: #fff;
  border: none;
  padding: 10px 25px;
  background: #f89b25;
}

.contato textarea {
  width: 100%;
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
}

.contato h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.contato p {
  font-size: 16px;
}

.contato a {
  color: #f89b25;
}

.contato .mapa {
  margin-top: 20px;
  max-width: auto;
}

@media (min-width: 768px) {
  .contato .campo-input {
    width: auto;
  }
  .contato .campo-input span {
    width: 155px;
  }
  .contato .campo-input input {
    width: 280px;
  }
  .contato textarea {
    width: 100%;
  }
  .contato .mapa {
    max-width: 320px;
  }
}

.page .banner2 {
  overflow: hidden;
}

.page-id-28.page .banner2 {
  overflow: hidden;
}

.page-id-28 .menu ul li:nth-child(5) a {
  color: #f89b25;
}

.page-id-24.page .banner2 {
  overflow: hidden;
}

.page-id-24 .menu ul li:nth-child(4) a {
  color: #f89b25;
}

.page-id-20.page .banner2 {
  overflow: hidden;
}

.page-id-20 .menu ul li:nth-child(3) a {
  color: #f89b25;
}

.page-id-17.page .banner2 {
  overflow: hidden;
}

.page-id-17 .menu ul li:nth-child(2) a {
  color: #f89b25;
}

.page-id-2.page .banner2 {
  overflow: hidden;
}

.page-id-2 .menu ul li:nth-child(1) a {
  color: #f89b25;
}

.page-id-65 .contact a {
  color: #f89b25;
}

.wpcf7-form-control-wrap {
  padding: 0 !important;
  border: none !important;
}

.single {
  padding-bottom: 55px;
}

.single h1 {
  padding-top: 55px;
  font-size: 35px;
  font-weight: 600;
}


a.whats {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width:40px;
	z-index: 99999;
}

a.whats img {
    max-width: 100%;
}

section.nossos-profissionais {}

section.nossos-profissionais h1 {
  font-size: 32px;
  line-height: 42px;
  font-weight: bold;
  color: #4b4b4b;
  margin-bottom: 30px;
}

section.nossos-profissionais h2 {
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;
  color: #4b4b4b;
  margin-bottom: 20px;
  margin-top: 0;
}

section.nossos-profissionais .text {
  margin-top: 0;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 100px;
}

.arquivos  article h2 a {
  font-size: 16px;
  font-weight: bold;
  color: #2e2e38;
}

.arquivos article h2 {
  margin-top: 15px;
  line-height: 22px;
}

.arquivos article img {
  /* width: 100% !important; */
  /* max-width: 200% !important; */
}

.arquivos article {
  margin-bottom: 30px;
  height: 365px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  padding-bottom: 15px;
}

.arquivos article img {
  width: 100%;
}

.arquivos article figure {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.arquivos article .entry-summary {
  padding: 0 15px;
}

.arquivos article .entry-title {
  padding: 0 15px;
}

.arquivos h1.page-title {
  font-weight: bold;
  color: #2e2e38;
  padding: 0 15px;
  margin-bottom: 40px;
  font-size: 32px;
}


section.single  h1 {
  font-size: 32px;
  color: #2e2e38;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 25px;
}

section.single {
  font-size: 16px;
  line-height: 28px;
}

/*Nossos-Profissionais*/

section.nossos-profissionais{
  padding-top: 20px;
}
section.nossos-profissionais .img img{
  padding-top: 25px;
}


section.nossos-profissionais h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #4B4B4B;

}

section.nossos-profissionais h3{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 25px;
}


section.nossos-profissionais p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.08em;
  color: #000000;
  padding-bottom: 20px;
}

section.nossos-profissionais p b{
  color: #000000;
}

.copyright p{
  color: #fff;
  margin-top: 15px;
}


/* .copyright p a {
  display: flex;
} */

@media (min-width: 1200px) {
  .copyright p{
    text-align: center;
  }

  /* .copyright p a {
    align-items: center;
    justify-content: center;
  } */
}

.copyright p a small,
.copyright p a,
.copyright p a:hover,
.copyright p a:focus{
  color: #fff;
}

.copyright p a img{
  margin-left: 5px;
  margin-bottom: 0;
  transform: translateX(0);
  left: 0;
}

/*Fim-Nossos-Profissionais*/