@mixin media($window){
    @if $window == sm { 
        @media (min-width: 576px) {
            @content;
        }
    }
    @else if $window == md{ 
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $window == lg { 
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $window == xl { 
        @media (min-width: 1200px) {
            @content;
        }
    }
}
@media (min-width: 1920px) {
    .page-wrapper{
        max-width: 1920px;

        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}