$orange: rgba(248,155,37,1);
$gray0: rgba(216,216,216,1);
$gray1: rgba(112,112,112,1);
$gray2: rgba(75,75,75,1);

/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('bootstrap.min.css');
@import '../scss/breakpoints';

*{
    font-family: 'Open Sans', sans-serif;
    color: $gray1;
}
header{
    background: #2E2E38; 
    padding: 5px 0;
    -webkit-box-shadow: 3px -14px 28px 10px rgba(115,115,115,0.55);
    -moz-box-shadow: 3px -14px 28px 10px rgba(115,115,115,0.55);
    box-shadow: 3px -14px 28px 10px rgba(115,115,115,0.55);
    img{
        margin: 15px 15px;
        max-width: 105px;
        @include media(md){
            max-width: 155px;
        }
    }
    .hambuerger{
        position: absolute;
        right: 35px;
        top: 20px;
        display: inline-block;
        cursor: pointer;
        .bar1, .bar2, .bar3 {
            width: 32px;
            height: 3px;
            background-color: #fff;
            margin: 6px 0;
            transition: 0.4s;
        }
        &.change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
            background-image: linear-gradient(to right, #FEC42F , $orange);
        }
        &.change .bar2 {opacity: 0;}
        &.change .bar3 {
            -webkit-transform: rotate(45deg) translate(-6px, -4px);
            transform: rotate(45deg) translate(-6px, -4px);
            background-image: linear-gradient(to right, #FEC42F , $orange);
        }
    }
    .contact {
        margin-top: 30px;
        float: right;
        a{
            text-align: right;
            color: #fff;
            font-weight: 600;
            font-size: 16px;
            &:hover{
                text-decoration: none;
                color: $orange;
            }
        }
    }
    @include media(md){
        padding: 15px 0;
    }
}

nav.menu{
    -webkit-box-shadow: inset 0px -180px 37px -182px rgba(115,115,115,0.26);
    -moz-box-shadow: inset 0px -180px 37px -182px rgba(115,115,115,0.26);
    box-shadow: inset 0px -180px 37px -182px rgba(115,115,115,0.26);
    padding: 20px 0;
    display: none;
    z-index: 999;
    &.active{
        display: block !important;
    }
    ul{
        padding: 0;
        margin: 0;
        li{
            display: block;
            padding: 9px 15px;    
            @include media(md){
                display: inline-block;       
                padding: 10px;        
            }
            a{
                z-index: 999;
                padding: 15px 0;
                color: $gray2;
                font-weight: 600;
                &:hover{
                    text-decoration: none;
                    color: $orange;
                }
                &.active-a{
                    color: $orange;
                }
            }
            &:first-child{
                padding-top: 18px;
                @include media(md){
                    padding-top: 0px;
                    padding-left: 0px;
                }
            }
        }
    }
    @include media(md){
        box-shadow: none;
        display: block;
    }
}

.banner{
    position: relative;
    border-bottom: 1px solid $gray2;
    padding-bottom: 20px;
    .text{
        h2{
            font-size: 21px;
            font-weight: 600;
        }
        a{
            margin-top: 10px;
            display: inline-block;
            border: 1px solid $gray2;
            color: $gray2;
            padding: 10px 15px;
        }
    }
    .line{
        border: 1px solid $gray2;
    }
    @include media(md){ 
        border-bottom: none;
        .text-display{
            width: 100%;
            height: auto;
            position: absolute;
            top: 35%;
            transform: translatey(-50%);
            .text{
                position: relative;
                color: #fff;
                h2{
                    font-size: 42px;
                }
            }
            a{
                margin-top: 30px;
                border: 1px solid #fff;
                color: #fff;
                font-size: 18px;
                padding: 13px 25px;
                &:hover{
                    color: $gray2;
                    background: #fff;
                    border-color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.publicacoes{
    padding: 40px 0px 0px;
    margin-bottom: 20px;
    .container{
        border-bottom: 2px solid $gray0;
    }
    h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 32px;
    }
    .publicacoes-box{
        padding: 20px 10px;
        .publicacoes-image{

        }
        .publicacoes-infos{
            padding: 0px 10px 35px 10px;
            h3{
                font-size: 26px;
                padding: 16px 0px 8px 0px
            }
            p{
                font-size: 16px;
            }
        }
    }
}

.servicos{
    h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 32px;
    }
    h3{
        font-size: 27px;
        line-height: 37px;
    }
    .box-servicos{
        padding: 25px 0px 0px 0px;
        .icon{
            padding: 25px 0;
            img{
                max-width: 160px;
                display: inline-block;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .text{
            text-align: center;
            font-size: 18px;
            img{
                margin-left: 10px;
            }
            &:hover > a{
                opacity: 1;
                transition: 0.5s;
                display: inline-block;
            }
            a{
                color: $orange;
                font-size: 16px;
                margin-left: 15px;
                opacity: 0;
                display: none;
                text-decoration: none;
            }
        }
    }
    @include media(md){ 
        h3{
            font-size: 37px;
            line-height: 47px;
        }
            .box-servicos{
                padding: 35px 0;
                .icon{
                    img{
                        max-width: auto;
                    }
                }
            .text{
                a{
                    display: none;
                }
            }
        }
    }
}

.porque{
    margin-top: 80px;
    .full{
        display: flex;
        .box{
            width: 50%;
            &.box1{
                padding: 130px 70px;
                background: #2E2E38;
                h2{
                    color: $orange;
                    font-size: 37px;
                    line-height: 50px;
                    font-weight: 600;
                    margin-bottom: 30px;
                }
                p{
                    color: #fff;
                    font-size: 22px;
                    margin-bottom: 40px;
                }
                a{
                    display: inline-block;
                    border: 1px solid $orange;
                    padding: 15px 25px;
                    color: $orange;
                }
            }
        }
        @include media(xl){ 
            .box{
                &.box1{
                    padding: 130px;
                    h2{
                        font-size: 42px;
                        line-height: 57px;
                    }
                }
            }
        }
    }
    h2{
        color: $orange;
        font-size: 32px;
        line-height: 38px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    p{
        color: $gray2;
        font-size: 18px;
        margin-bottom: 30px;
    }
    a{
        display: inline-block;
        border: 2px solid $orange;
        padding: 15px 25px;
        color: $orange;
    }
}

.profissionais{
    padding: 80px 0;
    img{
        max-width: 250px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    @include media(md){ 
        img{
            max-width: 100%;
        }
    }
    .text{
        margin-top: 30px;
        h2{
            color: $gray2;
            font-size: 32px;
            line-height: 38px;
            font-weight: 600;
            margin-bottom: 20px;
            text-align: center;
        }
        p{
            color: $gray2;
            font-size: 18px;
            margin-bottom: 30px;
            text-align: center;
        }
        a{
            display: inline-block;
            border: 2px solid $gray2;
            padding: 15px 25px;
            color: $gray2;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        @include media(md){ 
            h2{
                font-size: 42px;
                line-height: 45px;
                text-align: left;
            }
            p{
                font-size: 22px;
                text-align: left;
            }
            a{
                left: 0;
                transform: translateX(0%);
            }
        }
    }
    @include media(md){ 
        padding: 160px 0;
        .text{
            margin-top: 130px;
        }
    }
}

footer{
    padding: 40px 0px 30px 0px;
    background: #2E2E38;
    img{
        max-width: 130px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 45px;
    }
    ul{
        padding-left: 20px;
        margin: 0;
        border-left: 1px solid #fff;
        padding-left: 20px;
        li{
            list-style: none;
            margin-bottom: 15px;
            a{
                color: #fff;
                font-size: 17px;
                text-decoration: none;
            }
        }
    }
    @include media(md){ 
        padding: 90px 0px 60px 0px;
        img{
            max-width: 170px;
            left: 0%;
            transform: translateX(0%);
        }
    }
}


.page {
    overflow: hidden;
    .banner2{
        position: relative;
        .text-display{
            padding: 30px 0px 30px 0;
            .text{
                float: none;
                h2{
                    font-size: 21px;
                    font-weight: 600;
                }
                a{
                    margin-top: 10px;
                    display: inline-block;
                    border: 1px solid $gray2;
                    color: $gray2;
                    padding: 10px 15px;
                }
                ul{
                    padding-left:18px;
                    li{
                        font-size: 18px;
                        margin-top: 5px;
                    }
                }
            }
            .line{
                border: 1px solid $gray2;
            }
        }
        @include media(xl){ 
            border-bottom: none;
            .text-display{
                width: 100%;
                height: auto;
                position: absolute;
                top: 35%;
                transform: translatey(-50%);
                .text{ 
                    float: right;
                    position: relative;
                    color: $gray2;
                    margin-top: 80px;
                    h2{
                        font-size: 26px;
                        line-height: 32px;
                    }
                    p{
                        margin-top: 40px;
                        font-size: 17px;
                        line-height: 27px;
                    }
                }
            }
        }
        @media (min-width: 1520px) {
            .text{ 
                h2{
                    font-size: 32px;
                    line-height: 42px;
                }
                p{
                    margin-top: 40px;
                    font-size: 20px;
                    line-height: 30px;
                }
            }



            border-bottom: none;
            .text-display{
                width: 100%;
                height: auto;
                position: absolute;
                top: 35%;
                transform: translatey(-50%);
                .text{ 
                    float: right;
                    position: relative;
                    color: $gray2;
                    margin-top: 80px;
                    h2{
                        font-size: 32px;
                        line-height: 42px;
                    }
                    p{
                        margin-top: 40px;
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

.oque-fazemos{
    .row{
        margin-top: 40px;
        background: rgba(216,216,216,.2);
        .texto-image{
            padding: 5px 25px 25px 25px;;
            h3{
                color: $orange;
                font-weight: 600;
                font-size: 28px;
                margin-bottom: 25px;
            }
            p{
                font-size: 16px;
            }
        }
    }
    @include media(xl){ 
        padding: 60px 0;
        img{
            &.m-l{
                margin-left: 15px
            }
            &.m-r{
                margin-left:-15px
            }
        }
        .texto-image{
            padding: 0px 25px;
            position: relative;
            top: 10px;  
        }
    }
}

.contato{
    padding: 60px 0;
    .campo-input{
        margin-bottom: 20px;
        width: 100%;
        border: 1px solid $gray0;
        span{
            display: inline-block;
            border: 1px solid $orange;
            font-size: 12px;
            color: $orange;
            padding: 11px 20px;
            width: 100%;
            text-align: center;
        }
        input{
            outline: 0;
            padding-left: 15px;
            height: 35px;
            width: 100%;
            border: none;
        }
    }
    textarea{
        width: 100%;
        border: 1px solid $gray0;
        margin-bottom: 20px;
    }
    h2{
        margin-top: 0;
        margin-bottom: 10px;
    }
    p{
        font-size: 16px;
    }
    a{
        color: $orange;
    }
    .mapa{
        margin-top: 20px;
        max-width: auto;
    }
    @include media(md){ 
        .campo-input{
            width: auto;
            span{
                width: 155px;
            }
            input{
                width: 280px;
            }
        }
        textarea{
            width: 100%;
        }
        .mapa{
            max-width: 320px;
        }
    }
}