/*Variaveis*/
/*Imports*/
* {
  font-family: 'Montserrat', sans-serif;
  color: #303030;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 70px;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 70px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

p strong {
  font-weight: 500;
  font-size: 18px;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 43px;
}
